html {
  -webkit-print-color-adjust: exact; // backgroundy w PDF
}

body {
  margin: 0;
  padding: 0;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
