<% section.languages.order(:position).each do |language|%>
  <%= render partial: 'languages/form', locals: { section: section, language: language } %>
<% end %>
<div class="button-container">
  <%= link_to user_cv_section_languages_path(user_id: current_user.id, cv_id: @cv.id, section_id: section.id), method: :post, class: "add-language #{section.horizontal_position == Section.get_horizontal_positions[:side_body] ? "side" : ""}", remote: true do %>
    <%= inline_svg_tag 'plus-icon.svg', class:"icon white round-button section #{section.horizontal_position == Section.get_horizontal_positions[:side_body] ? "side" : ""}" %>
  <% end %>
</div>