div.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .cv-container {
    width: 50%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;

    .cv-row {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: fit-content;

      .cv {
        width: 32%;
        padding: 0.6%;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: fit-content;
        box-shadow: 0 3px 8px lightgrey;
        margin: 10px;
        text-decoration: none;
        color: var(--font-color);
        border-radius: 10px;

        &.center {
          background-color: var(--medium-color);
        }

        &.left {
          background-color: var(--lighter-color);
        }

        &.right {
          background-color: var(--lighter-color);
        }
      }
    }
  }

  .button {
    background-color: var(--dark-green-color);
    display: flex;
    margin-top: 15px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
  }
}
