.icon {
  &.white {
    fill: var(--fill-color);

    &.tile {
      height: 150px;
      margin-bottom: 10px;
    }

    &.round {
      height: 100px;
      margin-bottom: 15px;
    }

    &.image {
      height: 275px;
      margin: 10px;
    }

    &.round-button {
      width: 20px;

      &.large {
        width: 30px;
        margin: 10px;
      }
    }
  }

  &.green {
    fill: var(--navbar-color);

    &.header {
      height: 30px;
      margin-right: 10px;
    }
  }
}