.icon {
  &.white {
    fill: var(--fill-color);

    &.tile {
      height: 150px;
      margin-bottom: 10px;
    }

    &.round {
      height: 100px;
      margin-bottom: 15px;
    }

    &.image {
      height: 270px;
      padding: 15px;
      border-radius: 10px;
      background-color: var(--dark-green-color);
      transform: translate3d(0px, -300px, 0px);
    }

    &.round-button {
      width: 20px;

      &.large {
        width: 30px;
        margin: 10px;
      }

      &.section {
        width: 30px;
        margin: 10px;

        &.side {
          fill: var(--dark-green-color);
        }
      }
    }
  }

  &.green {
    fill: var(--dark-color);

    &.header {
      height: 30px;
      margin-right: 10px;
    }

    &.buttons {
      
      &.delete {
        margin-bottom: 10px;

        &.small {
          margin-bottom: 0px;
          width: 20px;
        }
      }

      &.small {
        width: 20px;
      }
    }
  }
}