.personal-information-container {
  margin: 10px;
  display: flex;
  text-align: center;
  background-color: var(--medium-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px lightgrey;
  color: var(--font-color);

  .section-title {
    font-size: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid;
    border-color: var(--lightest-color);
    align-items: center;
  }

  .filename-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    .filename {
      padding: 10px;
      font-size: 12px;
    }

    #cv_name {
      width: 53rem;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .basic-data-container {
    display: flex;
    flex-direction: initial;

    .image-container {
      width: 250px;
      height: 300px;
      margin: 10px;
      border-radius: 10px;
      overflow: hidden;

      .photo {
        width: 250px;
        border-radius: 10px;
        transform: translate3d(0px, calc(-300px + (-100% + 300px)/2), 0px);
        padding-top: calc((-100% + 300px)/2);
        padding-bottom: calc((-100% + 300px)/2);
        background-color: var(--dark-green-color);
        z-index: 1;
        position: relative;
      }

      .input {
        height: 300px;
        z-index: 2;
        position: relative;
      }

      #cv_main_photo {
        display: inline-block;
        height: 300px;
        width: 250px;
        overflow: hidden;
        opacity: 0;
        position: relative;
        cursor: pointer;
      }
    }

    .name-container {
      display: flex;
      margin: 10px;
      align-items: center;
      padding-bottom: 10px;

      label {
        margin-bottom: 5px;
        font-size: 12px;
      }
    }

    .first-name {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_first_name {
        width: 305px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        margin-right: 15px;
      }
    }

    .last-name {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_last_name {
        width: 305px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }
  }

  .contact-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-bottom: 10px;

    label {
      margin-bottom: 5px;
      font-size: 12px;
    }

    .email {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_email {
        width: 305px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        margin-right: 15px;
      }
    }

    .phone-number {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_phone_number {
        width: 305px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }
  }

  .address-container {
    margin: 10px;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 10px;

    label {
      margin-bottom: 5px;
      font-size: 12px;
    }

    #cv_address {
      width: 39.7rem;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .personal-data-container {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    label {
      margin-bottom: 5px;
      font-size: 12px;
    }

    .birth-date {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_birth_date_3i {
        width: 45px;
        height: 40px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        background-color: var(--fill-color);
      }
  
      #cv_birth_date_2i {
        width: 100px;
        height: 40px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        background-color: var(--fill-color);
      }
  
      #cv_birth_date_1i {
        width: 60px;
        height: 40px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        background-color: var(--fill-color);
        margin-right: 5px;
      }
    }

    .sex {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_sex {
        width: 120px;
        height: 40px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        background-color: var(--fill-color);
        margin: 5px;
      }
    }

    .drivers-licence {
      display: flex;
      flex-direction: column;
      text-align: start;

      #cv_drivers_licence {
        width: 200px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }
  }

  .website-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 0px;
    justify-content: space-between;

    label {
      margin-bottom: 5px;
      font-size: 12px;
    }

    .linkedin {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      #cv_linkedin {
        width: 285px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }

    .facebook {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      #cv_facebook {
        width: 285px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }

    .twitter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      #cv_twitter {
        width: 285px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }
  }

  .websites-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-bottom: 10px;
    justify-content: flex-start;
    margin-top: 0px;

    label {
      margin-bottom: 5px;
      font-size: 12px;
    }

    .github {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      #cv_github {
        width: 285px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        margin-right: 15px;
      }
    }

    .website {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      #cv_website {
        width: 285px;
        height: 30px;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
    }
  }

  .next-button {
    background-color: var(--dark-green-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0px;
    border: none;

    &:hover {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
  }
}