.personal-information-container {
  margin: 10px;
  display: flex;
  text-align: center;
  background-color: #c0d3d7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px lightgrey;
  color: #4e4e4e;

  .title {
    font-size: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid;
    border-color: #d4e8eb;
    align-items: center;
  }

  .filename-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    .filename {
      padding: 10px;
      font-size: 12px;
    }

    #cv_name {
      width: 53rem;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .basic-data-container {
    display: flex;
    flex-direction: initial;

    .image-container {
      background-color: #007777;
      width: 250px;
      height: 300px;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0px 3px 8px #005555;

      .photo {
        width: 250px;
        height: 300px;
        border-radius: 10px;
      }

      .input {
        transform: translate3d(0px, -299px, 0px);
      }

      #cv_main_photo {
        display: inline-block;
        height: 300px;
        overflow: hidden;
        opacity: 0;
        position: relative;
        cursor: pointer;
      }
    }

    .name-container {
      display: flex;
      margin: 10px;
      align-items: center;
      padding-top: 10px;

      label {
        margin: 7px;
        font-size: 12px;
      }
    }

    #cv_first_name {
      width: 235px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      margin-right: 7px;
    }

    #cv_last_name {
      width: 238px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .contact-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    label {
      margin: 7px;
      font-size: 12px;
    }

    #cv_email {
      width: 242px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }

    #cv_phone_number {
      width: 243px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .address-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    label {
      margin: 7px;
      font-size: 12px;
    }

    #cv_address {
      width: 35.9rem;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .personal-data-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    label {
      margin: 7px;
      font-size: 12px;
    }

    #cv_birth_date_3i {
      width: 45px;
      height: 25px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      background-color: white;
    }

    #cv_birth_date_2i {
      width: 80px;
      height: 25px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      background-color: white;
    }

    #cv_birth_date_1i {
      width: 60px;
      height: 25px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      background-color: white;
      margin-right: 5px;
    }

    #cv_sex {
      width: 100px;
      height: 25px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      background-color: white;
      margin: 5px;
    }

    #cv_drivers_licence {
      width: 130px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .website-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    label {
      margin: 7px;
      font-size: 12px;
    }

    #cv_linkedin {
      width: 245px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      margin-right: 7px;
    }

    #cv_facebook {
      width: 245px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .websites-container {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;

    label {
      margin: 7px;
      font-size: 12px;
    }

    #cv_twitter {
      width: 238px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      margin-right: 7px;
    }

    #cv_github {
      width: 238px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      margin-right: 7px;
    }

    #cv_website {
      width: 238px;
      height: 30px;
      border: none;
      padding: 5px;
      outline: none;
      border-radius: 5px;
    }
  }

  .next-button {
    background-color: #007777;
    margin: 15px;
    border-radius: 50px;
    padding: 15px;
    text-decoration: none;
    color: white;
    border: none;

    &:hover {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
  }
}