#partial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .title {
    font-size: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid;
    border-color: var(--light-color);
    align-items: center;
    margin: 5px;
    color: var(--font-color);

    &.section {
      border-color: var(--lightest-color);
    }
  }

  .error {
    display: flex;
    margin-top: 5px;
    color: red;
    font-size: 12px;
  }

  .form-group {
    &.submit {
      &.hidden {
        display: none; 
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;

    .next-button {
      background-color: var(--dark-green-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin: 10px;
      
      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .dropdown-menu {
      display: none;
      width: max-content;
      font-size: 12px;
      line-height: 1rem;
      color: var(--font-color);
      text-align-last: center;
      border: 2px groove;
      border-color: var(--lighter-color);
      border-radius: 10px;
    }

    .show:hover .dropdown-menu {
      display: block;
      transform: translate3d(-60px, -5px, 0px);
    }
  }

  #sections-form {
    margin: 10px;

    .sections-container {
      margin: 10px;
      background-color: var(--light-color);
      border-radius: 10px;
      padding: 10px;
      
      .sections-dropdown {
        display: flex;
        justify-content: center;
        margin: 20px;
    
        #cv_name {
          width: 50rem;
          height: 50px;
          border: none;
          padding: 15px;
          outline: none;
          border-radius: 5px;
        }
      }
    }
  }
  
  .submit {
    display: flex;
    justify-content: center;

    .add-section-button {
      background-color: var(--dark-green-color);
      margin-bottom: 15px;
      border-radius: 50px;
      padding: 15px;
      text-decoration: none;
      color: var(--fill-color);
      border: none;
    }

    .dropdown-menu {
      display: none;
      width: max-content;
      font-size: 12px;
      line-height: 1rem;
      color: var(--font-color);
      text-align-last: center;
      border: 2px groove;
      border-color: var(--lighter-color);
      border-radius: 10px;
    }

    .show:hover .dropdown-menu {
      display: block;
      transform: translate3d(-45px, -10px, 0px);
    }
  }

  #sections-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 840px;
    
    .section-container {
      background-color: var(--lighter-color);
      margin: 10px;
      border-radius: 10px;
      padding: 10px;
      width: 100%;

      &.side {
        background-color: var(--dark-green-color);
        
        .title {
          font-size: 20px;
          display: flex;
          padding: 10px;
          border-bottom: 2px solid;
          border-color: var(--light-color);
          align-items: center;
          margin: 5px;
          color: var(--lightest-color);
        }
      }

      
      .header {
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: center;
        justify-content: space-between;

        .custom-name-container {
          width: 70%;

          #section_custom_name {
            height: 30px;
            width: 100%;
            border: none;
            padding: 5px;
            outline: none;
            border-radius: 5px;
          }
        }

        .position-dropdown {
          margin-left: 20px;

          #section_horizontal_position {
            width: 115px;
            height: 40px;
            border: none;
            padding: 5px;
            outline: none;
            border-radius: 5px;
            background-color: var(--fill-color);
          }
        }
    
        .section-buttons-container {
          flex-direction: row;
          display: flex;
          align-items: center;

          .section-up {
            margin: 5px;
            padding-left: 5px;
          }

          .section-down {
            margin: 5px;
          }

          .delete-section {
            margin: 5px;
            padding-right: 5px;
          }

          .dropdown-menu {
            display: none;
            width: max-content;
            font-size: 12px;
            line-height: 1rem;
            color: var(--font-color);
            text-align-last: center;
            border: 2px groove;
            border-color: var(--lighter-color);
            border-radius: 10px;
          }
      
          .show:hover .dropdown-menu {
            display: block;
            transform: translate3d(-65px, 5px, 0px);
          }
        }
      }


      .input {
        
        &.rich_text_area {
          background-color: var(--lightest-color);
          padding: 10px;
          border-radius: 10px;
          margin: 10px;
        }
      }

      .form-group {
        &.submit {
          &.hidden {
            display: none; 
          }
        }
      }

      .courses-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .course-form {
          display: flex;
          justify-content: center;
          background-color: var(--lightest-color);
          border-radius: 10px;
          margin: 10px;
          align-self: center;

          .course-box {
            display: flex;

            .course-container {
              display: flex;
              justify-content: center;
              flex-direction: column;

              .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
    
                #course_name {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 10px;
                }
    
                #course_institution {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 10px;
                }
              }
    
              .dates-row {
                display: flex;
                justify-content: space-around;
                color: var(--font-color);
                font-size: 12px;
    
                .date-container {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                }
    
                select {
                  width: 100px;
                  height: 35px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  background-color: var(--fill-color);
                  margin: 10px;
                }
              }
    
              .input {
            
                &.rich_text_area {
                  background-color: transparent;
                  padding: 10px;
                  border-radius: 10px;
                  margin: 10px;
                  border: solid var(--fill-color);
                }
              }
            }

            .course-buttons {
              margin-top: 10px;
              margin-right: 10px;
              display: flex;
              flex-direction: column;
              align-self: flex-start;

              .dropdown-menu {
                display: none;
                width: max-content;
                font-size: 12px;
                line-height: 1rem;
                color: var(--font-color);
                text-align-last: center;
                border: 2px groove;
                border-color: var(--lighter-color);
                border-radius: 10px;
              }
          
              .show:hover .dropdown-menu {
                display: block;
                transform: translate3d(-65px, 5px, 0px);
              }
            }
          }

          
          .form-group {
            &.submit {
              &.hidden {
                display: none; 
              }
            }
          }
        }
      }

      .certificates-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .certificate-form {
          display: flex;
          justify-content: center;
          background-color: var(--lightest-color);
          border-radius: 10px;
          margin: 10px;
          align-self: center;
          width: 100%;

          .certificate-box {
            display: flex;
            width: 100%;

            .certificate-container {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;

              .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                #certificate_name {
                  width: 30.4rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 10px;
                }
                
                .date-container {
                  display: flex;
                  justify-content: space-around;
                  color: var(--font-color);
                  font-size: 12px;
                  align-items: center;
                }

                select {
                  width: 100px;
                  height: 35px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  background-color: var(--fill-color);
                  margin: 10px;
                }
              }
    
              .input {
            
                &.rich_text_area {
                  background-color: transparent;
                  padding: 10px;
                  border-radius: 10px;
                  margin: 10px;
                  border: solid var(--fill-color);
                  display: block;
                }
              }
            }

            .certificate-buttons {
              margin-top: 10px;
              margin-right: 10px;
              display: flex;
              flex-direction: column;
              align-self: flex-start;

              .dropdown-menu {
                display: none;
                width: max-content;
                font-size: 12px;
                line-height: 1rem;
                color: var(--font-color);
                text-align-last: center;
                border: 2px groove;
                border-color: var(--lighter-color);
                border-radius: 10px;
              }
          
              .show:hover .dropdown-menu {
                display: block;
                transform: translate3d(-65px, 5px, 0px);
              }
            }
          }

          
          .form-group {
            &.submit {
              &.hidden {
                display: none; 
              }
            }
          }
        }
      }

      .educations-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .education-form {
          display: flex;
          justify-content: center;
          background-color: var(--lightest-color);
          border-radius: 10px;
          margin: 10px;
          align-self: center;
          width: 100%;

          .education-box {
            display: flex;
            width: 100%;

            .education-container {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;

              .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px;

                #education_level {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #education_city {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #education_university {
                  width: 47.2rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #education_faculty {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #education_specialisation {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                select {
                  width: 100px;
                  height: 35px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  background-color: var(--fill-color);
                  margin: 10px;
                }

                &.dates {
                  display: flex;
                  justify-content: space-around;
                  color: var(--font-color);
                  font-size: 12px;

                  .date-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  }
                }
              }
            }

            .education-buttons {
              margin-top: 10px;
              margin-right: 10px;
              display: flex;
              flex-direction: column;
              align-self: flex-start;

              .dropdown-menu {
                display: none;
                width: max-content;
                font-size: 12px;
                line-height: 1rem;
                color: var(--font-color);
                text-align-last: center;
                border: 2px groove;
                border-color: var(--lighter-color);
                border-radius: 10px;
              }
          
              .show:hover .dropdown-menu {
                display: block;
                transform: translate3d(-65px, 5px, 0px);
              }
            }
          }

          
          .form-group {
            &.submit {
              &.hidden {
                display: none; 
              }
            }
          }
        }
      }

      .employments-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .employment-form {
          display: flex;
          justify-content: center;
          background-color: var(--lightest-color);
          border-radius: 10px;
          margin: 10px;
          align-self: center;
          width: 100%;

          .employment-box {
            display: flex;
            width: 100%;

            .employment-container {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;

              .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px;

                #employment_name {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #employment_city {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #employment_employer {
                  width: 47.2rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                select {
                  width: 100px;
                  height: 35px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  background-color: var(--fill-color);
                  margin: 10px;
                }

                &.dates {
                  display: flex;
                  justify-content: space-around;
                  color: var(--font-color);
                  font-size: 12px;

                  .date-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  }
                }
              }
    
              .input {
            
                &.rich_text_area {
                  background-color: transparent;
                  padding: 10px;
                  border-radius: 10px;
                  margin: 10px;
                  border: solid var(--fill-color);
                  display: block;
                  width: 100%;
                }
              }
            }

            .employment-buttons {
              margin-top: 10px;
              margin-right: 10px;
              display: flex;
              flex-direction: column;
              align-self: flex-start;

              .dropdown-menu {
                display: none;
                width: max-content;
                font-size: 12px;
                line-height: 1rem;
                color: var(--font-color);
                text-align-last: center;
                border: 2px groove;
                border-color: var(--lighter-color);
                border-radius: 10px;
              }
          
              .show:hover .dropdown-menu {
                display: block;
                transform: translate3d(-65px, 5px, 0px);
              }
            }
          }

          
          .form-group {
            &.submit {
              &.hidden {
                display: none; 
              }
            }
          }
        }
      }

      .languages-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .language-form {
          display: flex;
          justify-content: center;
          background-color: var(--lightest-color);
          border-radius: 10px;
          margin: 10px;
          align-self: center;
          width: 100%;

          .language-box {
            display: flex;
            width: 100%;

            .language-container {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;

              .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px;

                #language_language {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #language_language_level {
                  width: 23rem;
                  height: 40px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                  background-color: white;
                }
              }
            }

            .language-buttons {
              margin-top: 10px;
              margin-right: 10px;
              display: flex;
              flex-direction: column;
              align-self: flex-start;

              .dropdown-menu {
                display: none;
                width: max-content;
                font-size: 12px;
                line-height: 1rem;
                color: var(--font-color);
                text-align-last: center;
                border: 2px groove;
                border-color: var(--lighter-color);
                border-radius: 10px;
              }
          
              .show:hover .dropdown-menu {
                display: block;
                transform: translate3d(-65px, 5px, 0px);
              }
            }
          }

          
          .form-group {
            &.submit {
              &.hidden {
                display: none; 
              }
            }
          }
        }
      }

      .language-buttons {
        display: flex;
        margin: 5px;
        flex-direction: column;

        .dropdown-menu {
          display: none;
          width: max-content;
          font-size: 12px;
          line-height: 1rem;
          color: var(--font-color);
          text-align-last: center;
          border: 2px groove;
          border-color: var(--lighter-color);
          border-radius: 10px;
        }
    
        .show:hover .dropdown-menu {
          display: block;
          transform: translate3d(-65px, 5px, 0px);
        }
      }

      .references-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .reference-form {
          display: flex;
          justify-content: center;
          background-color: var(--lightest-color);
          border-radius: 10px;
          margin: 10px;
          align-self: center;
          width: 100%;

          .reference-box {
            display: flex;
            width: 100%;

            .reference-container {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;

              .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px;

                #reference_company {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #reference_contact_person {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #reference_phone_number {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                #reference_email {
                  width: 23rem;
                  height: 30px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  margin: 5px;
                }

                select {
                  width: 100px;
                  height: 35px;
                  border: none;
                  padding: 5px;
                  outline: none;
                  border-radius: 5px;
                  background-color: var(--fill-color);
                  margin: 10px;
                }

                &.dates {
                  display: flex;
                  justify-content: space-around;
                  color: var(--font-color);
                  font-size: 12px;

                  .date-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  }
                }
              }
    
              .input {
            
                &.rich_text_area {
                  background-color: transparent;
                  padding: 10px;
                  border-radius: 10px;
                  margin: 10px;
                  border: solid var(--fill-color);
                  display: block;
                  width: 100%;
                }
              }
            }

            .reference-buttons {
              margin-top: 10px;
              margin-right: 10px;
              display: flex;
              flex-direction: column;
              align-self: flex-start;

              .dropdown-menu {
                display: none;
                width: max-content;
                font-size: 12px;
                line-height: 1rem;
                color: var(--font-color);
                text-align-last: center;
                border: 2px groove;
                border-color: var(--lighter-color);
                border-radius: 10px;
              }
          
              .show:hover .dropdown-menu {
                display: block;
                transform: translate3d(-65px, 5px, 0px);
              }
            }
          }

          
          .form-group {
            &.submit {
              &.hidden {
                display: none; 
              }
            }
          }
        }
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      align-self: center;
      padding: 10px;

      .add-course {
        background-color: var(--dark-green-color);
        border-radius: 50%;
        display: flex;

        &.side {
          background-color: var(--lightest-color);

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
        }

        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      .add-certificate {
        background-color: var(--dark-green-color);
        border-radius: 50%;
        display: flex;

        &.side {
          background-color: var(--lightest-color);

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
        }

        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      .add-education {
        background-color: var(--dark-green-color);
        border-radius: 50%;
        display: flex;

        &.side {
          background-color: var(--lightest-color);

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
        }

        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      .add-employment {
        background-color: var(--dark-green-color);
        border-radius: 50%;
        display: flex;

        &.side {
          background-color: var(--lightest-color);

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
        }

        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      .add-language {
        background-color: var(--dark-green-color);
        border-radius: 50%;
        display: flex;

        &.side {
          background-color: var(--lightest-color);

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
        }

        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      .add-reference {
        background-color: var(--dark-green-color);
        border-radius: 50%;
        display: flex;

        &.side {
          background-color: var(--lightest-color);

          &:hover {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
        }

        &:hover {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      .dropdown-menu {
        display: none;
        width: max-content;
        font-size: 12px;
        line-height: 1rem;
        color: var(--font-color);
        text-align-last: center;
        border: 2px groove;
        border-color: var(--lighter-color);
        border-radius: 10px;
      }
  
      .show:hover .dropdown-menu {
        display: block;
        transform: translate3d(-65px, 5px, 0px);
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;

    .back-button {
      background-color: var(--dark-green-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin: 10px;
      
      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .next-button {
      background-color: var(--dark-green-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin: 10px;
      
      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .dropdown-menu {
      display: none;
      width: max-content;
      font-size: 12px;
      line-height: 1rem;
      color: var(--font-color);
      text-align-last: center;
      border: 2px groove;
      border-color: var(--lighter-color);
      border-radius: 10px;
    }

    .show:hover .dropdown-menu {
      display: block;
      transform: translate3d(-60px, -5px, 0px);
    }
  }


}

