#partial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .title {
    font-size: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid;
    border-color: var(--light-color);
    align-items: center;
    margin: 5px;
    color: var(--font-color);

    &.section {
      border-color: var(--lightest-color);
    }
  }

  #sections-form {
    margin: 10px;

    .sections-container {
      margin: 10px;
      background-color: var(--light-color);
      border-radius: 10px;
      padding: 10px;
      
      .sections-dropdown {
        display: flex;
        justify-content: center;
        margin: 20px;
    
        #cv_name {
          width: 50rem;
          height: 50px;
          border: none;
          padding: 15px;
          outline: none;
          border-radius: 5px;
        }
      }
    }
  }
  
  .submit {
    display: flex;
    justify-content: center;

    .add-section-button {
      background-color: var(--dark-green-color);
      margin-bottom: 15px;
      border-radius: 50px;
      padding: 15px;
      text-decoration: none;
      color: var(--fill-color);
      border: none;
    }
  }

  #sections-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 840px;
    
    .section-container {
      background-color: var(--lighter-color);
      margin: 10px;
      border-radius: 10px;
      padding: 10px;
      width: 100%;

      &.side {
        background-color: var(--dark-green-color);
        
        .title {
          font-size: 20px;
          display: flex;
          padding: 10px;
          border-bottom: 2px solid;
          border-color: var(--light-color);
          align-items: center;
          margin: 5px;
          color: var(--lightest-color);
        }
      }

      
      .header {
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: center;
        justify-content: space-between;

        .custom-name-container {
          width: 70%;

          #section_custom_name {
            height: 30px;
            width: 100%;
            border: none;
            padding: 5px;
            outline: none;
            border-radius: 5px;
          }
        }

        .position-dropdown {
          margin-left: 20px;

          #section_horizontal_position {
            width: 100px;
            height: 40px;
            border: none;
            padding: 5px;
            outline: none;
            border-radius: 5px;
            background-color: var(--fill-color);
          }
        }
    
        .buttons-container {
          display: flex;
          flex-direction: row;
          align-self: center;
          padding: 10px;
        }
      }

      .input {
        
        &.rich_text_area {
          background-color: var(--lightest-color);
          padding: 10px;
          border-radius: 10px;
          margin: 10px;
        }
      }
      .form-group {
        &.submit {
          &.hidden {
            display: none; 
          }
        }
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;

    .edit-personal-information {
      background-color: var(--dark-green-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin: 10px;
      
      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

