html {
  -webkit-print-color-adjust: exact; // DO NOT MOVE FOR THE BACKGROUND COLOR TO RENDER
}
body {
  margin: 0px;
  padding: 0;
  margin: 0;
}

.pdf__file {
  flex-direction: row;
  background-color: #a9d35b;
  min-height: 297mm;
  height: max-content;
  display: flex;

  .side-body {
    width: 40%;
    background-color: #004444;

    .side-body-content-container {
      padding: 20px;
      color: #f8f8ff;
      display: flex;
      flex-direction: column;

      .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;

        .photo {
          height: 250px;
          margin: 10px;
          border-radius: 10px;
          overflow: hidden;
          width: fit-content;
  
          .cv-photo {
            width: 180px;
            border-radius: 10px;
            height: auto;
            transform: translate3d(0px, calc((-100% + 300px)/2), 0px);
          }
        }
        
        .name {
          font-size: 27px;
          margin-top: 15px;
          font-weight: bold;
        }
      }

      .data-container {
        margin-bottom: 20px;

        label {
          font-size: 13px;
          font-weight: bold;
        }

        .email {
          margin: 5px;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
          font-size: 15px;
        }

        .phone-number {
          margin: 5px;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
          font-size: 15px;
        }

        .address {
          margin: 5px;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
          font-size: 15px;
        }
        
        .birth-date {
          margin: 5px;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
          font-size: 15px;
        }

        .sex {
          margin: 5px;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
          font-size: 15px;
        }

        .drivers-licence {
          margin: 5px;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
          font-size: 15px;
        }

        .websites {
          flex-direction: column;
          align-items: flex-start;

          .website {
            flex-direction: column;
            align-items: flex-start;
            margin: 5px;
            display: flex;
            font-size: 15px;
          }
        }

      }

      .side-body-content {
        
        .divider {
          border-color: #f8f8ff;
          border-bottom: 1px solid;
          margin-left: 20px;
          margin-right: 25px;
        }
        
        .languages-section {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 5px;
          flex-direction: column;
          align-items: center;
          display: flex;
          font-size: 15px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: justify;
          text-justify: inter-word;


          .languages-header {
            font-weight: bold;
          }

          .languages-container {
            font-size: 12px;
            margin-top: 5px;

            .language-row {
              display: flex;
              flex-direction: row;
              margin-top: 5px;
              align-items: center;

              .language {
                margin-right: 10px;
              }

              .language-skill {
                font-weight: bold;
              }
            }
          }
        }

        .intrests-section {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 5px;
          flex-direction: column;
          align-items: center;
          display: flex;
          font-size: 15px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: justify;
          text-justify: inter-word;

          .intrests-header {
            font-weight: bold;
          }

          .intrests-content {
            font-size: 12px;
            margin-top: 5px;
          }
        }

        .custom-section-section {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 5px;
          flex-direction: column;
          align-items: center;
          display: flex;
          font-size: 15px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: justify;
          text-justify: inter-word;

          .custom-section-header {
            font-weight: bold;
          }

          .custom-section-content {
            font-size: 12px;
            margin-top: 5px;
          }
        }
      }
    }

  }
  .main-body {
    width: 60%;
    background-color: #fafafa;

    .main-body-content-container {
      display: flex;
      margin: 10px;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 20px;
      color: var(--font-color);

      .divider {
        border-bottom: double;
        border-color: var(--font-color);
      }
      
      .description-section {
        display: flex;
        flex-direction: column;

        .description-header {
          color: black;
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: bold;
          margin-top: 10px;
        }

        .description-content {
          font-size: 12px;
          border-bottom: 1px;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: justify;
          text-justify: inter-word;
        }
      }

      .employment-section {
        // margin-bottom: 10px;
        // margin-top: 10px;

        .employments-header {
          color: black;
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: bold;
          margin-top: 10px;
        }

        .employment-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px;

          .employment-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;

            .job-title {
              color: black;
              font-size: 15px;
              font-weight: bold;
              
              .employer-container {
                color: #004444;
                font-weight: lighter;
                display: flex;
                font-size: 14px;
                text-align: justify;
                text-justify: inter-word;

                .employer {
                  margin-right: 10px;
                }
              }
            }

            .dates {
              display: flex;
              font-size: 13px;
              align-items: center;
              color: #004444;

              .start-date {
                padding: 5px;
              }

              .end-date {
                padding: 5px;
              }
            }
          }

          .employment-description {
            font-size: 12px;
            border-bottom: 1px;
            margin-bottom: 10px;
            padding-left: 5px;
            margin-top: 5px;
          }
        }
      }

      .education-section {
        // margin-bottom: 10px;

        .educations-header {
          color: black;
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: bold;
          margin-top: 10px;
        }

        .education-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .school-container {
            
            .university {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .city {
              color: #004444;
              font-weight: lighter;
              font-size: 14px;
            }
          }

          .dates {
            display: flex;
            font-size: 13px;
            align-items: center;
            color: #004444;

            .start-date {
              padding: 5px;
            }

            .end-date {
              padding: 5px;
            }
          }
        }

        .education-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          font-size: 13px;
          border-bottom: 1px;
          margin-top: 5px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .skills-section {
        display: flex;
        flex-direction: column;

        .skills-header {
          color: black;
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: bold;
          margin-top: 10px;
        }

        .skills-content {
          font-size: 12px;
          border-bottom: 1px;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: justify;
          text-justify: inter-word;
        }
      }

      .certificate-section {
        color: black;
        // margin-bottom: 10px;
        border-bottom: groove;
        border-color: ghostwhite;

        .certificates-header {
          color: black;
          font-size: 18px;
          margin-bottom: 10px;
        }

        .certificate-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: justify;
          text-justify: inter-word;

          .name {

          }

          .date {

          }
        }
      }

      .privacy-policy-section {
        .privacy-policy-content {
          text-align: justify;
          text-justify: inter-word;
          font-size: 10px;
          border-bottom: 1px;
          margin: 10px;
        }
      }
    }
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
      width: 210mm;
      height: 297mm;        
  }
  .pdf__file {
      margin: 0;
  }
}