p.navbar-text {
  padding: 15px;
  padding-top: 25px;
  text-align: end;
  background-color: var(--darkest-green-color);
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  height: 25px;
  box-shadow: 0 3px 8px lightgrey;
  background-position: top;
  display: block;

  .navbar-link {
    background-color: var(--dark-green-color);
    color: var(--fill-color);
    padding: 12px;
    text-decoration: none;
    margin: 4px;
    border-radius: 50px;
    font-size: 13px;

    &:hover {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
  }
}